@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-8 mb-4 order-0">
        <div class="card">
            <div class="d-flex align-items-end row">
                <div class="col-sm-7">
                    <div class="card-body">
                        <h5 class="card-title text-primary">Proje Takip Sistemine Hoşgeldiniz! 🎉</h5>
                        <p class="mb-4">
                            Toplam <span class="fw-bold">@ViewBag.NumberOfProjects</span> proje Mevcuttur. Hepsini detaylı olarak inceleyebilirsiniz.
                        </p>

                        <a href="/EmployeeProjects/Index/" class="btn btn-sm btn-outline-primary">Detaylı olarak Gör</a>
                    </div>
                </div>
                <div class="col-sm-5 text-center text-sm-left">
                    <div class="card-body pb-0 px-0 px-md-4">

                        <img src="~/Theme/assets/img/illustrations/man-with-laptop-light.png" height="140" alt="View Badge User" data-app-dark-img="illustrations/man-with-laptop-dark.png" data-app-light-img="illustrations/man-with-laptop-light.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-4 order-1">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-6 mb-4">
                <div class="card">
                    <div class="card-body">
                        <div class="card-title d-flex align-items-start justify-content-between">
                            <div class="avatar flex-shrink-0">
                                <img src="~/Theme/assets/img/icons/unicons/chart-success.png" alt="chart success" class="rounded">
                            </div>

                        </div>
                        <span class="fw-semibold d-block mb-1">Tamamlanan Projeler</span>

                        <small class="text-success fw-semibold"><i class="bx bx-up-arrow-alt"></i> @ViewBag.CompletedProject Tamamlandı</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-6 mb-4">
                <div class="card">
                    <div class="card-body">
                        <div class="card-title d-flex align-items-start justify-content-between">
                            <div class="avatar flex-shrink-0">
                                <img src="~/Theme/assets/img/icons/unicons/wallet-info.png" alt="Credit Card" class="rounded">
                            </div>

                        </div>
                        <span>Yüksek Öncelikli </span>

                        <small class="text-success fw-semibold"><i class="bx bx-up-arrow-alt"></i> @ViewBag.HighPriorityProjects Proje</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Total Revenue -->
    <div class="col-12 col-lg-8 order-2 order-md-3 order-lg-2 mb-4">
        <div class="card">
            <div class="row row-bordered g-0">
                <div class="col-md-8">

                    <div class="card h-100">
                        <div class="card-header d-flex align-items-center justify-content-between pb-0">
                            <div class="card-title mb-0">
                                <h5 class="m-0 me-2 mb-2">Başarılı Proje İstatistik Alanı</h5>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="d-flex justify-content-between align-items-center mb-3" style="position: relative;">
                                <div class="d-flex flex-column align-items-center gap-1">
                                    <h2 class="mb-1">@ViewBag.NumberOfProjects</h2>
                                    <span>Toplam Proje</span>
                                </div>
                            </div>
                            <ul class="p-0 m-0">
                                <li class="d-flex mb-4 pb-1">
                                    <div class="avatar flex-shrink-0 me-3">
                                        <span class="avatar-initial rounded bg-label-primary"><i class="bx bx-mobile-alt"></i></span>
                                    </div>
                                    <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                                        <div class="me-2">
                                            <h6 class="mb-0">Başarılı</h6>
                                            <small class="text-muted">Toplam Başarılı Proje Sayısı</small>
                                        </div>
                                        <div class="user-progress">
                                            <small class="fw-semibold">@ViewBag.CompletedProject</small>
                                        </div>
                                    </div>
                                </li>
                                <li class="d-flex mb-4 pb-1">
                                    <div class="avatar flex-shrink-0 me-3">
                                        <span class="avatar-initial rounded bg-label-success"><i class="bx bx-closet"></i></span>
                                    </div>
                                    <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                                        <div class="me-2">
                                            <h6 class="mb-0">Yüksek Öncelikli</h6>
                                            <small class="text-muted">Toplam Yüksek Öncelikli Proje Sayısı</small>
                                        </div>
                                        <div class="user-progress">
                                            <small class="fw-semibold">@ViewBag.SuccessfulAndHigh</small>
                                        </div>
                                    </div>
                                </li>
                                <li class="d-flex mb-4 pb-1">
                                    <div class="avatar flex-shrink-0 me-3">
                                        <span class="avatar-initial rounded bg-label-info"><i class="bx bx-home-alt"></i></span>
                                    </div>
                                    <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                                        <div class="me-2">
                                            <h6 class="mb-0">Orta Öncelikli</h6>
                                            <small class="text-muted">Toplam Orta Öncelikli Proje Sayısı</small>
                                        </div>
                                        <div class="user-progress">
                                            <small class="fw-semibold">@ViewBag.SuccessfulAndMedium</small>
                                        </div>
                                    </div>
                                </li>
                                <li class="d-flex">
                                    <div class="avatar flex-shrink-0 me-3">
                                        <span class="avatar-initial rounded bg-label-secondary"><i class="bx bx-football"></i></span>
                                    </div>
                                    <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                                        <div class="me-2">
                                            <h6 class="mb-0">Düşük Öncelikli</h6>
                                            <small class="text-muted">Toplam Düşük Öncelikli Proje Sayısı</small>
                                        </div>
                                        <div class="user-progress">
                                            <small class="fw-semibold">@ViewBag.SuccessfulAndLow</small>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
                <div class="col-md-4">
                    <div class="card-body">
                        <div class="d-flex flex-column justify-content-center align-items-center px-xxl-4 px-lg-2 p-4 gap-xxl-3 gap-lg-1 gap-3" style="height: 100%;">
                            <div class="d-flex flex-column align-items-center mb-3">
                                <div class="me-2">
                                    <span class="badge bg-label-primary p-2"><i class="bx bx-dollar text-primary"></i></span>
                                </div>
                                <div class="d-flex flex-column text-center">
                                    <small class="fs-6">Tamamlanan Proje</small> <!-- Küçük yazıyı büyütmek için fs-4 -->
                                    <h6 class="mb-0 fs-2">@ViewBag.CompletedProject</h6> <!-- Yazıyı büyütmek için fs-2 -->
                                </div>
                            </div>
                            <div class="d-flex flex-column align-items-center">
                                <div class="me-2">
                                    <span class="badge bg-label-info p-2"><i class="bx bx-wallet text-info"></i></span>
                                </div>
                                <div class="d-flex flex-column text-center">
                                    <small class="fs-6">Devam Eden Proje</small> <!-- Küçük yazıyı büyütmek için fs-4 -->
                                    <h6 class="mb-0 fs-2">@ViewBag.UnfinishedProject</h6> <!-- Yazıyı büyütmek için fs-2 -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!--/ Total Revenue -->
    <div class="col-12 col-md-8 col-lg-4 order-3 order-md-2">
        <div class="row">
            <div class="col-6 mb-4">
                <div class="card">
                    <div class="card-body">
                        <div class="card-title d-flex align-items-start justify-content-between">
                            <div class="avatar flex-shrink-0">
                                <img src="~/Theme/assets/img/icons/unicons/paypal.png" alt="Credit Card" class="rounded">
                            </div>

                        </div>
                        <span class="d-block mb-1">Düşük Öncelikli</span>

                        <small class="text-danger fw-semibold"><i class="bx bx-down-arrow-alt"></i> @ViewBag.LowPriorityProjects Proje </small>
                    </div>
                </div>
            </div>
            <div class="col-6 mb-4">
                <div class="card">
                    <div class="card-body">
                        <div class="card-title d-flex align-items-start justify-content-between">
                            <div class="avatar flex-shrink-0">
                                <img src="~/Theme/assets/img/icons/unicons/cc-primary.png" alt="Credit Card" class="rounded">
                            </div>

                        </div>
                        <span class="fw-semibold d-block mb-1">Orta Öncelikli</span>

                        <small class="text-success fw-semibold"><i class="bx bx-up-arrow-alt"></i> @ViewBag.MediumPriorityProjects Proje</small>
                    </div>
                </div>
            </div>
            <!-- </div>
            <div class="row"> -->
            <div class="col-12 mb-4">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-between flex-sm-row flex-column gap-3" style="position: relative;">
                            <div class="d-flex flex-sm-column flex-row align-items-start justify-content-between">
                                <div class="card-title">
                                    <h5 class="text-nowrap mb-2">En Çok Proje Tamamlayan</h5>
                                    <span class="badge bg-label-warning rounded-pill">@ViewBag.MostCompletedEmployeeInformation</span>
                                </div>
                                <div class="mt-sm-auto">
                                    <small class="text-success text-nowrap fw-semibold"><i class="bx bx-chevron-up"></i> 68.2%</small>
                                    <h3 class="mb-0">@ViewBag.NumberOfEmployeesWhoCompletedTheMostProjects</h3>
                                </div>
                            </div>
                            <div id="profileReportChart" style="min-height: 80px;"><div id="apexchartsk4b8lyg5k" class="apexcharts-canvas apexchartsk4b8lyg5k apexcharts-theme-light" style="width: 256px; height: 80px;"><svg id="SvgjsSvg1723" width="256" height="80" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.dev" class="apexcharts-svg" xmlns:data="ApexChartsNS" transform="translate(0, 0)" style="background: transparent;"><g id="SvgjsG1725" class="apexcharts-inner apexcharts-graphical" transform="translate(0, 0)"><defs id="SvgjsDefs1724"><clipPath id="gridRectMaskk4b8lyg5k"><rect id="SvgjsRect1730" width="257" height="85" x="-4.5" y="-2.5" rx="0" ry="0" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0" fill="#fff"></rect></clipPath><clipPath id="forecastMaskk4b8lyg5k"></clipPath><clipPath id="nonForecastMaskk4b8lyg5k"></clipPath><clipPath id="gridRectMarkerMaskk4b8lyg5k"><rect id="SvgjsRect1731" width="252" height="84" x="-2" y="-2" rx="0" ry="0" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0" fill="#fff"></rect></clipPath><filter id="SvgjsFilter1737" filterUnits="userSpaceOnUse" width="200%" height="200%" x="-50%" y="-50%"><feFlood id="SvgjsFeFlood1738" flood-color="#ffab00" flood-opacity="0.15" result="SvgjsFeFlood1738Out" in="SourceGraphic"></feFlood><feComposite id="SvgjsFeComposite1739" in="SvgjsFeFlood1738Out" in2="SourceAlpha" operator="in" result="SvgjsFeComposite1739Out"></feComposite><feOffset id="SvgjsFeOffset1740" dx="5" dy="10" result="SvgjsFeOffset1740Out" in="SvgjsFeComposite1739Out"></feOffset><feGaussianBlur id="SvgjsFeGaussianBlur1741" stdDeviation="3 " result="SvgjsFeGaussianBlur1741Out" in="SvgjsFeOffset1740Out"></feGaussianBlur><feMerge id="SvgjsFeMerge1742" result="SvgjsFeMerge1742Out" in="SourceGraphic"><feMergeNode id="SvgjsFeMergeNode1743" in="SvgjsFeGaussianBlur1741Out"></feMergeNode><feMergeNode id="SvgjsFeMergeNode1744" in="[object Arguments]"></feMergeNode></feMerge><feBlend id="SvgjsFeBlend1745" in="SourceGraphic" in2="SvgjsFeMerge1742Out" mode="normal" result="SvgjsFeBlend1745Out"></feBlend></filter></defs><line id="SvgjsLine1729" x1="0" y1="0" x2="0" y2="80" stroke="#b6b6b6" stroke-dasharray="3" stroke-linecap="butt" class="apexcharts-xcrosshairs" x="0" y="0" width="1" height="80" fill="#b1b9c4" filter="none" fill-opacity="0.9" stroke-width="1"></line><g id="SvgjsG1746" class="apexcharts-xaxis" transform="translate(0, 0)"><g id="SvgjsG1747" class="apexcharts-xaxis-texts-g" transform="translate(0, -4)"></g></g><g id="SvgjsG1755" class="apexcharts-grid"><g id="SvgjsG1756" class="apexcharts-gridlines-horizontal" style="display: none;"><line id="SvgjsLine1758" x1="0" y1="0" x2="248" y2="0" stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-gridline"></line><line id="SvgjsLine1759" x1="0" y1="20" x2="248" y2="20" stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-gridline"></line><line id="SvgjsLine1760" x1="0" y1="40" x2="248" y2="40" stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-gridline"></line><line id="SvgjsLine1761" x1="0" y1="60" x2="248" y2="60" stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-gridline"></line><line id="SvgjsLine1762" x1="0" y1="80" x2="248" y2="80" stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-gridline"></line></g><g id="SvgjsG1757" class="apexcharts-gridlines-vertical" style="display: none;"></g><line id="SvgjsLine1764" x1="0" y1="80" x2="248" y2="80" stroke="transparent" stroke-dasharray="0" stroke-linecap="butt"></line><line id="SvgjsLine1763" x1="0" y1="1" x2="0" y2="80" stroke="transparent" stroke-dasharray="0" stroke-linecap="butt"></line></g><g id="SvgjsG1732" class="apexcharts-line-series apexcharts-plot-series"><g id="SvgjsG1733" class="apexcharts-series" seriesName="seriesx1" data:longestSeries="true" rel="1" data:realIndex="0"><path id="SvgjsPath1736" d="M 0 76C 17.36 76 32.24 12 49.6 12C 66.96000000000001 12 81.84 62 99.2 62C 116.56 62 131.44 22 148.8 22C 166.16 22 181.04000000000002 38 198.4 38C 215.76 38 230.64000000000001 6 248 6" fill="none" fill-opacity="1" stroke="rgba(255,171,0,0.85)" stroke-opacity="1" stroke-linecap="butt" stroke-width="5" stroke-dasharray="0" class="apexcharts-line" index="0" clip-path="url(#gridRectMaskk4b8lyg5k)" filter="url(#SvgjsFilter1737)" pathTo="M 0 76C 17.36 76 32.24 12 49.6 12C 66.96000000000001 12 81.84 62 99.2 62C 116.56 62 131.44 22 148.8 22C 166.16 22 181.04000000000002 38 198.4 38C 215.76 38 230.64000000000001 6 248 6" pathFrom="M -1 120L -1 120L 49.6 120L 99.2 120L 148.8 120L 198.4 120L 248 120"></path><g id="SvgjsG1734" class="apexcharts-series-markers-wrap" data:realIndex="0"><g class="apexcharts-series-markers"><circle id="SvgjsCircle1770" r="0" cx="0" cy="0" class="apexcharts-marker wu2icxpjy no-pointer-events" stroke="#ffffff" fill="#ffab00" fill-opacity="1" stroke-width="2" stroke-opacity="0.9" default-marker-size="0"></circle></g></g></g><g id="SvgjsG1735" class="apexcharts-datalabels" data:realIndex="0"></g></g><line id="SvgjsLine1765" x1="0" y1="0" x2="248" y2="0" stroke="#b6b6b6" stroke-dasharray="0" stroke-width="1" stroke-linecap="butt" class="apexcharts-ycrosshairs"></line><line id="SvgjsLine1766" x1="0" y1="0" x2="248" y2="0" stroke-dasharray="0" stroke-width="0" stroke-linecap="butt" class="apexcharts-ycrosshairs-hidden"></line><g id="SvgjsG1767" class="apexcharts-yaxis-annotations"></g><g id="SvgjsG1768" class="apexcharts-xaxis-annotations"></g><g id="SvgjsG1769" class="apexcharts-point-annotations"></g></g><rect id="SvgjsRect1728" width="0" height="0" x="0" y="0" rx="0" ry="0" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0" fill="#fefefe"></rect><g id="SvgjsG1754" class="apexcharts-yaxis" rel="0" transform="translate(-18, 0)"></g><g id="SvgjsG1726" class="apexcharts-annotations"></g></svg><div class="apexcharts-legend" style="max-height: 40px;"></div><div class="apexcharts-tooltip apexcharts-theme-light"><div class="apexcharts-tooltip-title" style="font-family: Helvetica, Arial, sans-serif; font-size: 12px;"></div><div class="apexcharts-tooltip-series-group" style="order: 1;"><span class="apexcharts-tooltip-marker" style="background-color: rgb(255, 171, 0);"></span><div class="apexcharts-tooltip-text" style="font-family: Helvetica, Arial, sans-serif; font-size: 12px;"><div class="apexcharts-tooltip-y-group"><span class="apexcharts-tooltip-text-y-label"></span><span class="apexcharts-tooltip-text-y-value"></span></div><div class="apexcharts-tooltip-goals-group"><span class="apexcharts-tooltip-text-goals-label"></span><span class="apexcharts-tooltip-text-goals-value"></span></div><div class="apexcharts-tooltip-z-group"><span class="apexcharts-tooltip-text-z-label"></span><span class="apexcharts-tooltip-text-z-value"></span></div></div></div></div><div class="apexcharts-yaxistooltip apexcharts-yaxistooltip-0 apexcharts-yaxistooltip-left apexcharts-theme-light"><div class="apexcharts-yaxistooltip-text"></div></div></div></div>
                            <div class="resize-triggers"><div class="expand-trigger"><div style="width: 394px; height: 117px;"></div></div><div class="contract-trigger"></div></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

